:root {
  // Colours
  --color-neutral-100: 0, 0%, 100%;
  --color-neutral-150: 0, 0%, 95%;
  --color-neutral-300: 0, 15%, 68%;
  --color-sedans: 31, 76%, 52%;
  --color-suvs: 184, 100%, 22%;
  --color-luxury: 179, 100%, 13%;

  --color-body-bg: hsl(var(--color-neutral-150));
  --color-card-heading: hsl(var(--color-neutral-150));
  --color-card: hsla(var(--color-neutral-100), 0.75);
  --color-card-btn: hsl(var(--color-neutral-100));
  --color-attribution: hsl(var(--color-neutral-300));

  // Typography
  --fw-regular: 400;
  --fw-bold: 700;
  --fs-body: 0.9375rem; /* 15px */
  --fs-heading: 2.5rem; /* 40px */
  --fs-btn: var(--fs-body);
  --ff-body: 'Lexend Deca', sans-serif;
  --ff-heading: 'Big Shoulders Display', sans-serif;
  --leading-body: 25px;

  // Card Item
  --card-item-padding: 3rem; /* 48px */
  --card-item-radius-first: 8px 8px 0 0;
  --card-item-radius-last: 0 0 8px 8px;

  @media (min-width: 80em) {
    --card-item-radius-first: 8px 0 0 8px;
    --card-item-radius-last: 0 8px 8px 0;
  }

  // Card Item Content
  --card-item-content-margin-top: 2.1875rem; /* 35px */
  --card-item-content-max-width: 14.4375rem; /* 231px */
  --card-item-content-gap: 1.5625rem; /* 25px */

  @media (min-width: 80em) {
    --card-item-content-max-width: 13.25rem; /* 212px */
  }

  // Wrapper
  --wrapper-max-width: 20.4375rem; /* 327px */

  @media (min-width: 80em) {
    --wrapper-max-width: 57.5rem; /* 920px */
  }
}
