body {
  font: var(--fw-regular) var(--fs-body) var(--ff-body);
  line-height: var(--leading-body);
  background-color: var(--color-body-bg);
  display: grid;
  place-content: center;
}

h2 {
  font-weight: var(--fw-bold);
  font-family: var(--ff-heading);
  text-transform: uppercase;
}

a {
  color: inherit;
  text-decoration: none;
}

.attribution {
  font-size: var(--fs-attribution);
  color: var(--color-attribution);
  margin-block: var(--attribution-margin-block);
}
