.card {
  margin-top: var(--card-margin-top);
  display: flex;
  flex-direction: column;

  &__sedans {
    background-color: hsl(var(--color-sedans));
  }

  &__suvs {
    background-color: hsl(var(--color-suvs));
  }

  &__luxury {
    background-color: hsl(var(--color-luxury));
  }

  @media (min-width: 80em) {
    flex-direction: row;
  }

  &__item {
    padding: var(--card-item-padding);

    &:first-child {
      border-radius: var(--card-item-radius-first);
    }

    &:last-child {
      border-radius: var(--card-item-radius-last);
    }

    &-content {
      color: var(--color-card-content);
      margin-top: var(--card-item-content-margin-top);
      max-width: var(--card-item-content-max-width);
      display: flex;
      flex-direction: column;
      gap: var(--card-item-content-gap);

      h2 {
        color: var(--color-card-heading);
        font-size: var(--fs-heading);
      }
    }

    &-btn {
      display: block;
      margin-top: var(--card-item-btn-margin-top);
    }
  }
}
