@use '../abstracts' as abstract;

.card {
  margin-top: var(--card-margin-top);
  display: flex;
  flex-direction: column;

  &__sedans {
    color: hsl(var(--color-sedans));
    background-color: hsl(var(--color-sedans));
  }

  &__suvs {
    color: hsl(var(--color-suvs));
    background-color: hsl(var(--color-suvs));
  }

  &__luxury {
    color: hsl(var(--color-luxury));
    background-color: hsl(var(--color-luxury));
  }

  @media (min-width: 80em) {
    flex-direction: row;
  }

  &__item {
    padding: var(--card-item-padding);

    &:first-child {
      border-radius: var(--card-item-radius-first);
    }

    &:last-child {
      border-radius: var(--card-item-radius-last);
    }

    &-content {
      color: var(--color-card-content);
      margin-top: var(--card-item-content-margin-top);
      max-width: var(--card-item-content-max-width);
      display: flex;
      flex-direction: column;
      gap: var(--card-item-content-gap);

      h2 {
        color: var(--color-card-heading);
        font-size: var(--fs-heading);
      }
    }

    &-btn {
      background-color: var(--card-item-btn-bg);
      border: var(--card-item-btn-border);
      border-radius: var(--card-item-btn-radius);
      transition: var(--card-item-btn-transition);
      margin-top: var(--card-item-btn-margin-top);
      padding: 0.75rem;
      display: block;
      width: fit-content;

      @include abstract.hover-focus-within {
        background: transparent;
        color: var(--color-card-btn);
      }
    }
  }
}
